{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	{% include "admin/include/adminNav.html.twig" %}

	<h4 class="mt-5">Quiz list</h4>
	<table class="table table-hover mt-4">
		<thead>
			<tr>
				<th scope="col">Quiz</th>
                <th scope="col">Add question</th>
				<th scope="col">Delete Quiz</th>
			</tr>
		</thead>
		<tbody>
			{% for quiz in quizz %}
				<tr>
					<td>{{ quiz.name }}</td>
                    <td><a href="{{ path('creation_add_question', {'slug' : quiz.slug }) }}" class="btn btn-primary btn-sm  ml-3">Add</a></td>
					<td><a href="{{ path('admin_quiz_delete', {'id' : quiz.id}) }}" class="btn btn-danger btn-sm  ml-3">Delete</a></td>
				</tr>

			{% endfor %}

		</tbody>
	</table>

	<div class="navigation mt-5">
		{{ knp_pagination_render(quizz, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
	</div>
{% endblock %}
