{% extends "base.html.twig" %}


{% block title %}HaoQuiz{% endblock %}

{% block body %}
	<h1 class="home-title text-center mb-5 text-primary">HAQuiz</h1>
	<div class="row px-5 mx-5">
		<div class="col-8">
			<div class="featured-quiz">
				<a href="{{ path('categorie_details', {'slug' : 'programmation'}) }}">
					<img src="https://www.1jour1actu.com/wp-content/uploads/quiz-2.jpg">
					<div class="bottom-left">
						<span><b>Programmation</b>&nbsp; - &nbsp;Today's quiz</span>
					</div>
				</a>
			</div>
		</div>
		<div class="col-4">
			<div class="series-list">
				<h3 class="mb-3 font-weight-bold text-primary">Most popular</h3>
				{# Display a list of quiz series #}
				<ol class="pl-4">
					{% for category in categories %}
					<div class="series">
						<li class="pl-2">
							<a href="{{ path('categorie_details', {'slug' : category.slug}) }}">
								{{ category.name }}
							</a>
						</li>
					</div>
					{% endfor %}
				</ol>
			</div>
		</div>
	</div>
{% endblock %}
