{% extends 'base.html.twig' %}

{% block title %}Quiz creation
{% endblock %}

{% block body %}
	<h1 class="home-title text-center mb-5 pb-3 text-primary">Quiz creation</h1>

	<div class="row">
		<div class="col-12">quiz title</div>
	</div>
	<h2 class="text-center">first question</h2>
	<div class="row">
		<div class="col-12">question input</div>
	</div>
	<div class="row">
		<div class="col-4">reponse input</div>
		<div class="col-4">reponse input</div>
		<div class="col-4">reponste input</div>
	</div>
    <button>  create and add question</button>
{% endblock %}
