{% extends 'base.html.twig' %}

{% block title %}{{ categorie.name }}{% endblock %}

{% block body %}
<h2 class="text-center"> {{ categorie.name }}</h2>

<p>Number of questions : {{ nbQuestion }}</p>

{% endblock %}