{% extends 'base.html.twig' %}

{% block title %}Categories
{% endblock %}

{% block body %}
	<h1 class="home-title text-center mb-5 pb-3 text-primary">Quizz</h1>
	<div class="row">
		{% for category in categories %}
			<div class="col-4">
				<div class="card border-primary mb-5 mw-100" style="max-width: 20rem;">
					<div class="card-header h5 text-truncate pr-0">{{ category.name }}</div>
					<div class="card-body">
                        <button type="button" onclick=window.location.href='{{ path('categorie_question', {'slug' : category.slug}) }}' class="btn btn-primary btn-lg btn-block mb-3">Start the quiz</button>
                        <button type="button" onclick=window.location.href='{{ path('categorie_details', {'slug' : category.slug}) }}' class="btn btn-outline-primary btn-lg btn-block">View details</button>
					</div>
				</div>
			</div>
		{% endfor %}
    </div>
    
	{# display pagination #}
	<div class="navigation mt-3">
		{{ knp_pagination_render(categories, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
	</div>

{% endblock %}