a:focus, input:focus {
    text-decoration: none;
    outline: 0;
}

.pagination {
    justify-content: center;
}

.home-title {
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

.navbar .nav-link {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.navbar .nav-item:not(:last-child) {
    margin-right: 15px;
}

.navbar .btn {
    border: solid rgb(255, 255, 255) 1px;
}

.navbar .register-btn:hover {
    background-color: rgb(104, 165, 148);
}

.navbar-brand {
    /* font-family: 'Press Start 2P', cursive; */
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 1.8rem;
    font-weight: 500;
    transition: 0.3s;
}

.navbar-brand:hover {
    text-shadow: 0 0 10px #FFFFFF;
    transition: 0.3s;
}

.featured-quiz {
    position: relative;
    border-radius: 10px;
    border: solid 1px #78C2AD;
}

.featured-quiz img {
    object-fit: cover;
    height: 550px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}

.featured-quiz .bottom-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 30px 20px 15px 20px;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgb(78, 78, 78));
    border-radius: 0 0 10px 10px;
    /* background-color: rgba(71, 71, 71, 0.26); */
}

.featured-quiz .bottom-left span {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: white;
    /* font-weight: bold; */
}

.series-list {
    padding: 20px;
    background-color: rgb(228, 255, 247);
    height: 550px;
    border-radius: 10px;
    border: solid 1px #78C2AD;
}

.series-list h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #78C2AD;
}

.series-list .series {
    color: black;
    padding: 8px 0;
}

.series a {
    color: rgb(112, 112, 112);
}

.question-card {
    background-color: rgb(228, 255, 247);
    padding: 40px 30px 20px 30px;
    border-radius: 10px;
    border: solid 1px #78C2AD;
    box-shadow: 0px 7px 17px 5px rgba(0, 0, 0, 0.06);
}

.question-card .progress {
    border: solid 1px #78C2AD;
}

.question-result {
    padding: 0px 40px;
}

.card-header.text-truncate:hover {
    text-overflow: clip;
    overflow: visible;
}

.answer-form label {
    font-size: 1.4rem;
    padding-left: 15px;
}

.answer-form input {
    margin-top: 8px;
}

.answer-form .form-check {
    margin-bottom: 10px;
}

.card-body:not(:last-of-type) {
    border-bottom : 1px solid rgba(0,0,0,0.125);
}


.profile-info {
    width: 100%;
    padding: 20px;
    background-color: rgb(228, 255, 247);
    border-radius: 10px;
    border: solid 1px #78C2AD;
}

.profile-info .btn-edit {
    position: absolute;
    bottom: 0;
    right: 15px;
    color: #5a5a5a;
}

.profile-info img {
    border: #78C2AD 1px solid;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
    width: 320px;
    height: 320px;
}

.text-strike {
    text-decoration: line-through;
}